*{
    padding: 0;
    margin: 0;
}
body,html{
    padding: 0;
    margin: 0;
}
.container{
    width: 100vw;
    height: 100vh;
    background: rgba(159, 15, 255, 0.541);
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 4px;
    padding: 5px;
    gap: 4px;
}
.container-nav{
    background: linear-gradient(90deg,#c02410,#c9f508);
    width: 100%;
    border-radius: 25px;
    display: grid;
    align-content: center;
    justify-content: center;
}
.container-row{
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    grid-template-rows: 100px;
    grid-gap: 4px;
}
.row{
    display: grid;
    align-content: center;
    justify-content: center;
    background: linear-gradient(90deg,#c01010,#c9f508);
    border-radius: 25px;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    grid-auto-rows: minmax(150px,auto);
    grid-template-areas: "header header","sidebar content";
}
.grid1{
    display: grid;
    grid-area: header;
    background: linear-gradient(90deg,#1fc010,#c9f508);
}
.grid2{
    grid-area: sidebar;
    background: linear-gradient(90deg,#1fc010,#c9f508);
}