*{
    padding: 0;
    margin: 0;
}
body,html{
    padding: 0;
    margin: 0;
}
.container{
    width: 100vw;
    height: 100vh;
    background: rgba(159, 15, 255, 0.541);
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 4px;
    padding: 5px;
    gap: 4px;
}
.container-nav{
    background: linear-gradient(90deg,#c02410,#c9f508);
    border-radius: 25px;
    display: grid;
    align-content: center;
    justify-content: center;
    transition: 600ms ease-in-out;
}
.container-nav:hover{
    background: linear-gradient(90deg,#c9f508,#f96508);
    
}
.container-row{
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    grid-template-rows: 4fr;
    grid-gap: 4px;
}
.row{
    display: grid;
    align-content: center;
    justify-content: center;
    background: linear-gradient(90deg,#c01010,#c9f508);
    border-radius: 25px;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4fr);
    grid-template-areas: 
        "header header header header"
        "sidebar content content content";
        grid-gap: 4px;
}

.grid1 {
    display: grid;
    align-content: center;
    justify-content: center;
    grid-area: header;
    background: linear-gradient(90deg, #1fc010, #c9f508);
    border-radius: 25px;
}

.grid2 {
    display: grid;
    align-content: center;
    justify-content: center;
    grid-area: sidebar;
    background: linear-gradient(90deg, #1fc010, #08f5ba);
    border-radius: 25px;
}
.grid3 {
    display: grid;
    align-content: center;
    justify-content: center;
    grid-area: content;
    border-radius: 50px;
    background: #1E1E1E;
    box-shadow: 4px 4px 20px 3px rgba(0, 0, 0, 0.55) inset, -4px -4px 20px 3px rgba(0, 0, 0, 0.25) inset, 0px 8px 10px 1px rgba(255, 255, 255, 0.20) inset, -2px 0px 7px 0.30000001192092896px #FFF inset;
    border-radius: 25px;
}
.grid-1{
    grid-column-start: 1;
    grid-column-end: 4;
    background: linear-gradient(90deg, #f5a700, #08f5d5);
    border-radius: 25px;
    display: grid;
    align-content: center;
    justify-content: center;
}
.grid-2{
    grid-column-start: 4;
    grid-column-end: 5;
    background: linear-gradient(90deg, #f5a700, #08f5d5);
    border-radius: 25px;
    display: grid;
    align-content: center;
    justify-content: center;
}
.grid-3{
    grid-column-start: 1;
    grid-column-end: 3;
    background: linear-gradient(90deg, #f5a700, #08f5d5);
    border-radius: 25px;
    display: grid;
    align-content: center;
    justify-content: center;
}
.grid-4{
    grid-column-start: 3;
    grid-column-end: 5;
    background: linear-gradient(90deg, #f5a700, #08f5d5);
    border-radius: 25px;
    display: grid;
    align-content: center;
    justify-content: center;
}
.grid-5{
    grid-column-start: 1;
    grid-column-end: 5;
    background: linear-gradient(90deg, #f5a700, #08f5d5);
    border-radius: 25px;
    display: grid;
    align-content: center;
    justify-content: center;
}
.grid-container-1{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4,1fr);
    grid-gap: 4px;
}
.grid-11{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    background: linear-gradient(90deg, #f5a700, #08f5d5);
    border-radius: 25px;
    display: grid;
    align-content: center;
    justify-content: center;
}
.grid-21{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 4;
    background: linear-gradient(180deg, #f5a700, #08f5d5);
    border-radius: 25px;
    display: grid;
    align-content: center;
    justify-content: center;
}
.grid-31{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 3;
    background: linear-gradient(90deg, #f5a700, #08f5d5);
    border-radius: 25px;
    display: grid;
    align-content: center;
    justify-content: center;
}

  